
<html>
<head>


<title>Results</title>
<!--<link href="https://istrauss6.neocities.org/style.css" rel="stylesheet" type="text/css">-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">

<style>
.fbpic {
  float:left;
  page-break-before: always;
}

.votecomment {

  	background-color: #F5F5F5;
  	padding: 13px;
  	border: 1px;
  	border-style: solid;
  	border-color: #d9d9d9;
  	border-radius:5px;
  	margin-left: 50px;
  	page-break-after: always;
  	line-height: 150%;
}

.namecolor{
	color: DarkRed;
}
</style>
</head>
<body>

<!--navbar-->
	<a href="/"><div class="home">Other Articles</div></a>
	<a href="/about"><div class="guide">About/FAQ</div></a>
	<a href="/chat"><div class="feedback">Community</div></a>
<br><br><br>

    <h1Class>
    <center>
    Community
    </center>
    </h1Class>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=1560520617436290&autoLogAppEvents=1"></script>
<Br>
    <p>
Use this space to talk about News Detective, share ideas, point out bugs ... all that jazz.
    <br><Br>
If the comments box looks tiny, try refreshing the page.
</p>
<br><br>
<div class="fb-comments" data-href="https://news-detective.herokuapp.com/chat/"
     data-width="100%"></div>

<!--<br>-->
<!--<a href="/">-->
<!--	<div class="home">Investigate more articles</div>-->
<!--</a>-->


<!--<a href="/factcheckclass1"-->
<!--   target="popup"-->
<!--   onclick="window.open('/factcheckclass1','popup','width=900,height=900'); return false;">-->
<!--        <div class="guide">Guide</div>-->
<!--</a>-->

</body>

</html>