<!DOCTYPE html>
<html>
      <head>
            <link href="https://istrauss6.neocities.org/style.css" rel="stylesheet" type="text/css">
         <style>
         </style>
      </head>
   <body>


      <form action = "/bootstrap" method = "post">
<!--         <label for = "title">Headline</label><br>-->
         <div class="smalltext">Headline</div>
         <input type = "text" name = "title" placeholder = "Headline" style="height:40px"><br>

         <div class="smalltext">URL</div>
         <input type = "text" name = "url" placeholder = "http://yoururl.com" /><br>

         <div class="smalltext">Image URL</div>
         <input type = "text" name = "image_url" placeholder = "http://yoururl.com/image.jpg" /><br>

         <div class="smalltext">Snippet</div>
         <input type = "text" name = "snippet" placeholder = "First sentence of the article" /><br>
         <input type = "submit" value = "Submit" />
      </form>

   <a href="/">
	  <div class="home">
         Investigate more articles
	  </div>
   </a>

   </body>
</html>