<html>
<body>

      <head>
            <link href="https://istrauss6.neocities.org/style.css" rel="stylesheet" type="text/css">
            <style>


body {
  padding: 10px;
  background-color: #e3e3e3;
}



            </style>
      </head>
<body>

<div class="block">
    <h1Class>
    <center>
    Go to the scene of the crime
    </center>
    </h1Class>
    <pClass><p>
    Let's say you're scrolling through Facebook and come across this article:
    </pClass></p>

    <iframe name="Framename" src="https://www.reuters.com/article/us-odd-spotify-dogs/spotify-launches-playlists-for-dogs-left-home-alone-idUSKBN1ZE1D8" width="100%" height="600px" frameborder="0" scrolling="auto" class="frame-area">
    </iframe>
    <br>
    <pClass><p>
    How do you know if Spotify is really launching a playlist for dogs? You look for clues.
          Chances are, the publication doesn't have spies on every street corner.
    They got their information somewhere. Any publication
    worth its salt will tell you how it found out what it found out.
    This line's the key:
        </pClass></p>
<div class="quotebox">
    <h3Class>
    The Swedish audio-streaming business company said it has
    launched a podcast featuring soothing music, "dog-directed praise."</h3Class>
</div>
    <pClass><p>
    Then — and this is the important part — get off the article's website and <strong>trace it back to the source</strong>. If they
    got their information from a government report, find that government report.
    If they interviewed a scientist, look up that scientist. In this case, try to find this information on Spotify's website.
    </pClass>
    <pClass><p>
    It's often easier to Google than to search the website directly. Try Googling something like "spotify playlist dogs."
    </pClass></p>

    <img src="https://istrauss6.neocities.org/spotify-playlist.png" alt="google search for spotify playlist" width="80%">

    <pClass><p>
    The first result comes from spotify.com. Perfect.
    </pClass></p>

    <iframe name="Framename" src="https://newsroom.spotify.com/2020-01-15/spotify-has-the-pawfect-playlist-for-you-and-your-pet/" width="50%" height="600px" frameborder="0" scrolling="auto" class="frame-area">
    </iframe>
    <pClass><p>
    Spotify is indeed launching a playlist for dogs. Case closed.
    </pClass></p>
<h1class>
<center>Test Yourself</center>
</h1class>
<div class="testwrapper">
    <pClass><p>
        <strong>Say you find an article about study:
        "Scientists discover that people who own dogs are nicer than people who own cats." How do you investigate?
        Click on the best choice.</strong>
        </center>
        <div class="quiz" id="questiona" onclick="aFunction()">1. Say it's true because you have a dog, and you're nice.</div>
        <script>
        function aFunction() {
          document.getElementById("questiona").innerHTML = "1. Say it's true because you have a dog, and you're nice. <strong>TRY AGAIN</strong>";
        }
        </script>

        <div class="quiz" id="questionb" onclick="bFunction()">2. Say it's false because you remember reading somewhere that cat people are actually incredibly kind and thoughtful.</div>
        <script>
        function bFunction() {
          document.getElementById("questionb").innerHTML = "2. Say it's false because you remember reading somewhere that cat people are actually incredibly kind and thoughtful. <strong>TRY AGAIN</strong>";
        }
        </script>

        <div class="quiz" id="questionc" onclick="cFunction()">3. Search the article for the scientists who published the study. Then Google the scientists and their university to find the original study in a scientific journal. Read the one paragraph study summary to see if it actually came to the conclusion the article is acting like it did.</div>
        <script>
        function cFunction() {
          document.getElementById("questionc").innerHTML = "3. Search the article for the scientists who published the study. Then Google the scientists and their university to find the original study in a scientific journal. Read the one paragraph study summary to see if it actually came to the conclusion the article is acting like it did. <strong>RIGHT! Well done.</strong>";
        }
        </script>

        <div class="quiz" id="questiond" onclick="dFunction()">4. Search the web for another article that supports what you already think, and go with that conclusion.</div>
        <script>
        function dFunction() {
          document.getElementById("questiond").innerHTML = "4. Search the web for another article that supports what you already think, and go with that conclusion. <strong>TRY AGAIN</strong>";
        }
        </script>
    </pClass>
</div>
<div class="fwdbkwrapper">
    <a href="/factcheckclass">
        <div class="guide">Back</div>
    </a>
    <a href="/factcheckclass3">
        <div class="guide">Next</div>
    </a>
</div>
</div>
<br><Br>
</body>
</html>