<html>
<body>

      <head>
            <link href="https://istrauss6.neocities.org/style.css" rel="stylesheet" type="text/css">
            <style>

body {
  padding: 20px;
  background-color: #F5F5F5;
  background-image: url("https://storage.needpix.com/rsynced_images/letters-637441_1280.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}
            </style>
      </head>
<body>

<div class="block">
    <h1Class>
        <center>
    To summarize:
            </center>
    </h1Class>
        <div class="summarywrapper">
            <pClass>
                <strong>1. Go to the scene of the crime</strong>
            </pClass>
            <pClass><p>
            Figure out where the publication got its information and go there. Make sure:<br>
                  <br>&nbsp;&nbsp;1) the publication gave a source
                  <br>&nbsp;&nbsp;2) the source really said what the article claims it said
                  <br>&nbsp;&nbsp;3) the source would know what they're talking about
            </pClass></p>

            <pClass>
                <strong>2. Figure out the motive</strong>
            </pClass>
            <pClass><p>
             No publication is unbiased. Everybody gets money from somewhere. But some publications are completely and entirely
            fronts funded by special interests. So if you're looking at a publication you're not familiar with, check
                out its About Us page, Google, and Wikipedia for clues. If you see an article saying "Spinach cures all
                diseases," see if it's funded by a spinach farm.
            </pClass></p>
            <pClass>
                <strong>3. Ask around</strong>
            </pClass>
            <pClass><p>
            Publications descend on major news like vultures. If any hugely shocking thing has happened, you can bet that
            many major publications will be covering it. So if you come across a shocking article, see who else is talking
                about it. If the only place covering it is some random publication you've never heard of, that's suspicious.</p>
        </div>

    <pClass><p>
        <strong>Do I have to do all this every time I investigate an article?</strong>
    </p>
        <p>
        No! You don't have to use all the tools all the time.
    It's up to you how deep your investigation goes. The first step, tracking the fact to its origin, is the best evidence.
          You'll be able to identify 90% of fake news in five minutes. They're just not that hard to figure out,
          as long as you know what to look for. And now you do!
        </p>
        <p><strong>How do I vote?</strong></p>
    I'm glad you asked. When you're on Facebook, you'll see this button under article posts:
        <center><div class="realorfakebutton">Real or Fake?</div></center>
        Click it, investigate the article, and vote. Every time you vote on an article, explain how your investigation went. What was suspicious? What sources came up empty?
        You'll always be able to return to this guide to brush up.
        <br><br>
    Thank you so much for being the first round of detective recruits. Everyone's complaining about fake news, but you're
        actually doing something about it. This is untested (you're the testers),
        so I'm depending on you to point out bugs and things that need improvement, as well as things that are working.

    </pClass></p>

<br>
        <div class="fwdbkwrapper">
        <a href="/factcheckclass4">
            <div class="guide">Back</div>
        </a>
    </div>

        <a href="https://www.facebook.com/">
            <center>
                <button class="buttonClass"
                onclick="window.open('', '_self', ''); window.close();"
                >I've read this guide carefully and pledge to investigate accordingly</button>
            </center>


</div>
<br><Br>
</body>
</html>