<html>
<body>

      <head>
<!--            <link href="https://istrauss6.neocities.org/style.css" rel="stylesheet" type="text/css">-->
          <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">

            <style>

body {
  padding: 10px;
  background-color: wheat;
}

            </style>
      </head>
<body>

<br>
<div class="block">
    <h1Class><center>
    Find the motive
        </center>
    </h1Class>
    <pClass><p>
    Let's look at another.
    </pClass></p>
    <iframe name="Framename" src="https://www.artofliving.org/yoga/health-and-wellness/yoga-for-hair-loss" width="80%" height="400px" frameborder="0" scrolling="auto" class="frame-area">
    </iframe>
    <pClass><p>
    So can yoga cure hair loss? The article seems to think it does.
    </pClass>
    <pClass><p>
    Take a moment and <b>find the publication's motive</b>. Look closer at the publication: The Art of Living. As you click around the site, you'll quickly notice
          that The Art of Living is a company that sells yoga classes at $195 a pop.
    </pClass></p>
    <iframe name="Framename" src="https://www.artofliving.org/us-en/program/163169" width="80%" height="400px" frameborder="0" scrolling="auto" class="frame-area">
    </iframe>
    <pClass><p>
    You see where this is going: They may not be the best source for accurate information about
    the health benefits of yoga. Of course, everyone is biased, but when the bias is just staring you in the face like that ...
    </pClass>
    <pClass><p>
    It may not always be this easy to figure out a publication's motives. You might run into a legitimate-looking
    news publication publishing articles like "80% of Americans should be on antidepressants."  When you check out their "About Us" page, you'll find they're funded by a foundation. And when you
    Google the foundation, you'll find it's run by a pharmaceutical company selling antidepressants.
          <br><br>
    A lot of "shocking" stories about politicians come from fake publications like this. A good rule of thumb: if an article
    claims a public figure is a serial killer or a kidnapper, and police apparently don't care ...
    Don't just believe it. Investigate.
    </pClass></p>
<h1class>
    <center>Test Yourself</center>
</h1class>
<div class="testwrapper">
    <pClass><p>
        <strong>Say you come across this article. Investigate the publication that wrote it. What do you find?</strong>
        </center><br>
        <br><br>
        <iframe name="Framename" src="https://worldnewsdailyreport.com/lottery-winner-arrested-for-dumping-200000-of-manure-on-ex-boss-lawn/" width="80%" height="400px" frameborder="0" scrolling="auto" class="frame-area">
        </iframe>


        <div class="quiz" id="questiona" onclick="aFunction()">1. It's funded by the lottery.</div>
        <script>
        function aFunction() {
          document.getElementById("questiona").innerHTML = "1. It's funded by the lottery. <strong>TRY AGAIN!</strong>";
        }
        </script><br>

        <div class="quiz" id="questionb" onclick="bFunction()">3. It's a joke website.</div>
        <script>
        function bFunction() {
          document.getElementById("questionb").innerHTML = "3. It's a joke website. <strong>Yep! From the website itself: World News Daily Report assumes all responsibility for the satirical nature of its articles and for the fictional nature of their content. All characters appearing in the articles in this website – even those based on real people – are entirely fictional and any resemblance between them and any person, living, dead or undead, is purely a miracle.</strong>";
        }
        </script><br>

        <div class="quiz" id="questionc" onclick="cFunction()">3. It's a reputable publication.</div>
        <script>
        function cFunction() {
          document.getElementById("questionc").innerHTML = "3. It's a reputable publication. <strong>TRY AGAIN!</strong>";
        }
        </script><br>

        <div class="quiz" id="questiond" onclick="dFunction()">4. There's no way to tell.</div>
        <script>
        function dFunction() {
          document.getElementById("questiond").innerHTML = "4. There's no way to tell. <strong>TRY AGAIN!</strong>";
        }
        </script>
    </pClass>
</div>
    <div class="fwdbkwrapper">
        <a href="/factcheckclass1">
            <div class="guide">Back</div>
        </a>
        <a href="/factcheckclass4">
            <div class="guide">Next</div>
        </a>
    </div>

</div>
<br><Br>
</body
</html>