<html>
<body>

      <head>
<!--            <link href="https://istrauss6.neocities.org/style.css" rel="stylesheet" type="text/css">-->
          <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">

            <style>

body {
  padding: 10px;
  background-color: #F5F5F5;
  background-color: wheat;
}
            </style>
      </head>
<body>

<div class="block">
    <h1Class>
        <center>
    Ask around
            </center>
    </h1Class>
    <pClass><p>

    Of course, it's fully possible that yoga DOES cure hair loss.
          <br><Br>
    Hair loss is a huge problem for a lot of people. If scientists discovered that hair loss can be cured by
          yoga, you can bet that tons of major newspapers would be reporting on such an amazing breakthrough.
          So see who else is talking about it. Go to <a href="https://news.google.com/">Google News</a>, Google's news site,
          and search for "yoga cure hair loss."
          <br><Br>

    <img src="https://istrauss6.neocities.org/yoga-hair-search.png" alt="google search for spotify playlist" width="80%">
    <br><br>

    Not much comes up. If you scroll down a bit, you do get a few similar fluffy articles by small lifestyle publications ...
          But no big newspapers or magazines writing about this amazing scientific discovery.
        That's pretty suspicious. (This method only works for stories that are clearly big national news).
        <br><Br>
        Of course, an article about yoga preventing hair loss is pretty harmless. But plenty of articles make wild
        claims that affect the world. If you read about something really shocking, something that surely would be on every news program
        around if it were true, then it should also be in lots of other publications. If it's not, there's
        a decent chance you're reading fake news.
    <br><br>
    </pClass></p>
<h1class>
    <center>Test Yourself</center>
</h1class>
<div class="testwrapper">
    <pClass><p>
        <strong>Take a look at this super weird story, then do a Google search to find out if anyone else has covered it. What did you find? </strong>
        </center><br>
        <br><br>
        <iframe name="Framename" src="https://news.sky.com/story/adam-sandler-attacked-by-cheetah-in-africa-10440469" width="80%" height="400px" frameborder="0" scrolling="auto" class="frame-area">
        </iframe>




        <div class="quiz" id="questionb" onclick="bFunction()">1. No one else is writing about this.</div>
        <script>
        function bFunction() {
          document.getElementById("questionb").innerHTML = "1. No one else is writing about this. <strong>You didn't actually Google it, did you?</strong>";
        }
        </script><br>

        <div class="quiz" id="questionc" onclick="cFunction()">2. Lots of big name publications wrote about it.</div>
        <script>
        function cFunction() {
          document.getElementById("questionc").innerHTML = "2. Lots of big name publications wrote about it.<strong>You got it! Poor Adam Sandler. </strong>";
        }
        </script>

    </pClass>
</div>

    <div class="fwdbkwrapper">
        <a href="/factcheckclass3">
            <div class="guide">Back</div>
        </a>
        <a href="/factcheckclass5">
            <div class="guide">Next</div>
        </a>
    </div>

</div>
<br><Br>
</body>
</html>