<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
<title>Home</title>
<link href="https://istrauss6.neocities.org/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap-social.css') }}">-->
<style>
body{
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>

</head>
<body>
<div class="homebody">
	<div style="margin-left: 15px; margin-right: 15px;">
		<a href="/factcheckclass"
		   target="popup"
		   onclick="window.open('/factcheckclass1','popup','width=900,height=900'); return false;">
				<div class="guide" style="margin: 0px;">Guide</div>
		</a>
		<a href="/chat"><div class="feedback" style="margin: 0px 20px;">Feedback</div></a>
		<br><br><Br>
		<div class="largetext">
			Open Investigations
		</div>
</div>
<script async src="https://cse.google.com/cse.js?cx=014500911544560096969:pcgxxglbwe3"></script>
<div class="gcse-search"></div>
<div class="homebody">
	{{ pagination.links }}
	<br><br>

	{% for dict_item in home_data %}
	<!--{{ loop.index + pagination.skip }}-->
	<!--<a href="results/{{ dict_item['id'] }}">-->
		<div class="photo">
			<img src="{{ dict_item['image_url'] }}" width="100%">
		</div>
		<div class="hometitlesstyle">{{ dict_item['title'] }}</div>
		<div class="voteorresult"><a href="votefor/{{ dict_item['id'] }}">Vote</a></div>
		<div class="voteorresult"><a href="results/{{ dict_item['id'] }}">Results</a></div>

	{% endfor %}

	{{ pagination.links }}
	</div>
</div>
</body>
</html>