<!DOCTYPE html>
<html>
<head>
<title>Vote</title>
<!--<link href="https://istrauss6.neocities.org/style.css" rel="stylesheet" type="text/css">-->
<!--<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">

<style>

#modalOverlay {
	width:100%;
	height:100%;
	z-index:2; /* places the modal overlay between the main page and the modal dialog*/
	background-color:#000;
	opacity:0.5;
	position:fixed;
	top:0;
	left:0;
	display:none;
	margin:0;
	padding:0;
}

#modal {
	width:50%;
	margin-left:auto;
	margin-right:auto;
	padding: 5px;
	border: thin #000 solid;
	background-color:#fff;
	z-index:3; /* places the modal dialog on top of everything else */
	position:fixed;
	top:25%;
	left:25%;
	display:none;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.comments {
word-break: break-all;
}
</style>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>


<script>
  $(document).ready(function() {
    var fb_user_id = "{{fb_user_id}}";
    if (fb_user_id == "") {
      document.getElementById("myDialog").showModal();
    } else {
      addHiddenInput(fb_user_id);
      var is_rated_user = "{{is_rated_user}}";
      if(is_rated_user == "False") {
        document.getElementById("ratedUserDialog").showModal();
      }
    }
  });

  function addHiddenInput (userID) {
    var hiddenInput = document.getElementById("user_id")
    hiddenInput.value = userID
  }


</script>
<dialog id="ratedUserDialog" style="height:50%; width:80%;background: transparent;border: none;">
  <div class="login-box">
    <p>Before you rate, would you like to take our fact-checking tutorial? You'll learn to see the truth through the eyes of a seasoned professional. Plus, you'll become a more highly rated user, and your ratings will count for more</p>
    <a href="/tutorial">
      <span class="guide">Yes</span>
    </a>
    <a href="#" onclick="document.getElementById('ratedUserDialog').close();"><span class="home">No</span></a>
  </div>
</dialog>

<dialog id="myDialog" style="height:50%; width:80%;background: transparent;border: none;">
  <div class="login-box">
    <h2>Login</h2>
    <a href="{{ url_for('facebook.login', next_url=url_for('votefor', article_id=article_id)) }}" class="social-button" id="facebook-connect"> <span>Connect with Facebook</span></a>
    <a href="{{ url_for("google.login", next_url=url_for('votefor', article_id=article_id)) }}" class="social-button" id="google-connect"> <span>Connect with Google</span></a>
    <a href="{{ url_for("twitter.login", next_url=url_for('votefor', article_id=article_id)) }}" class="social-button" id="twitter-connect"> <span>Connect with Twitter</span></a>
  </div>
</dialog>


<!--navbar-->
	<a href="/"><div class="guide">News Detective</div></a>
	<a href="/about"><div class="guide">About/FAQ</div></a>
	<a href="/chat"><div class="guide">Community</div></a>
<br><br><br>

<a href="{{ article_url }}" target="_blank">
<div class="headline">
    {{ article_title }}
</div>

<div class="mediumtext">
    {% if image_url == '/placeholder.png' %}
      <img src="{{ image_url }}" alt="Picture" width="25%">
    {% else %}
      <img src="{{ image_url }}" alt="Picture" width="100%">
    {% endif %}
</div>
</a>
<div class="mediumlefttext">
    What's your diagnosis, doctor?
</div>
<form action = "/insert_vote" method = "post" onsubmit="">
    <div id="vote-form" action = "/insert_vote" method = "post" onsubmit="">
        <div class="smalltext">
            {% for dict_item in vote_choices %}
                <input type="radio" name="options" padding="10px" margin="10px" id="{{ dict_item['id'] }}"
                value="{{ dict_item['id'] }}"> {{ dict_item['choice'] }}

            <br>
                 <span style="color:gray">
                ({{ dict_item['hint'] }})</input>
                </span>
            <br>

            {% endfor %}
        </div>
        <br>
        <div class="mediumlefttext">
            What is the article's main claim? And how did you figure out if it was true? Include links.
        </div>
        <textarea name="comments" id="comments" placeholder="Here's the court case discussed in the article: https://dockets.justia.com/docket/new-york/nyedce/1:2020cv02328/448390"></textarea>


        <input type="text" name="user_id" id="user_id" style="display:none;">
        <input type="text" name="article_id" id="article_id" value="{{ article_id }}" style="display:none;">
        <div class="mediumlefttext">
            Once you submit, you can't change your rating.
        </div>
<input type="submit" value="Submit">

    </div>
</form>

<!--<br>-->

<!--    <a href="/"><div class="home">Home</div></a>-->
<!--	<a href="/factcheckclass"-->
<!--	   target="popup"-->
<!--	   onclick="window.open('/factcheckclass1','popup','width=900,height=900'); return false;">-->
<!--			<div class="guide">Guide</div>-->
<!--	</a>-->
<!--    <a href="/chat"><div class="feedback">Feedback</div></a>-->

</body>
</html>